

<div style="position: relative; text-align: center; color: white;">
  <app-nav-bar />
  <img src="../../../assets/images/Header_background.jpg" alt="Background Image" style="width: 100%;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h5>Tired Of Global Warming?</h5>
    <h1 class="header-font">Visit A <br> Different Planet</h1>
    <p>Welcome to Celestial Voyages, where your dreams of interplanetary <br>exploration come to life. Join us in venturing beyond the stars, discovering <br>the wonders of otherworldly landscapes.</p>
    <div>
      <button class="btn-primary ml-2">Destinations</button>
      <button class="btn-secondary mr-2">Stay up-to date</button>
    </div>
  </div>
</div>

<div style="background-color: #090011; text-align: center; color: white; padding: 50px 0;">
  <h2>Explore Our Services</h2>
  <p>Discover the wide range of services we offer to help you achieve your goals.</p>
  <div class="custom-cards">
    <app-cards />
  </div>
</div>

<div style="position: relative; text-align: center; color: white;">
  <img src="../../../assets/images/mobile_app_background.png" alt="Background Image" style="width: 100%; height: 1172px; object-fit: cover;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="row ">
      <div class="col-12">
        <h1>THE STARS IN YOUR POCKET... Coming soon</h1>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <p>We are very excited to launch our very own <br> Celestial Voyages mobile application coming soon <br> to the App Store & Google Play Store.</p>
      </div>
      <div class="col-2"></div>
    </div>
    <img src="assets/images/Apple_iPhone_15_Pro_White_Titanium_1.png" alt="" style="width: 937px; height: 456px; margin-top: 50px">
    <div class="row">
      <div class="col-2">
          <img src="assets/images/vecteezy_astronauta-png-grafico-clipart-diseno_20003935_1.png" alt="" class="spaceman">
      </div>
      <div class="col-8"></div>
      <div class="col-2"></div>
    </div>
    
  </div>

  <div class="row justify-content-center">
  <div class="col-8 subscribe-box">
      <div class="row justify-content-center text-center">
          <h4 class="mb-5">Subscribe to stay updated</h4>
      </div>
      <div class="row justify-content-center">
          <div class="col-4">
              <input type="text" class="text" placeholder="Space traveller name">
          </div>
          <div class="col-4">
              <input type="email" name="" id="" placeholder="Contact email address">
          </div>
          <div class="col-3">
              <button class="btn-secondary">Join newsletter</button>
          </div>
      </div>
  </div>
  </div>
</div>

 <app-footer />



<router-outlet />
