<div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="card col-3" style="margin-right: 20px;  text-align: left;">
        <img class="card-img-top" src="../../../assets/images/mars2.png" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Mars</h4>
        <div class="hr-line"></div>
        <p class="card-text">Engage in thrilling activities like rover expeditions and marvel at the breathtaking Martian sunsets. Say hi to Elon!</p>
        </div>
    </div>

    <div class="card col-3" style="margin-right: 20px;  text-align: left;">
        <img class="card-img-top" src="../../../assets/images/mars3.png" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">Saturn</h4>
        <div class="hr-line"></div>
        <p class="card-text">Experience weightlessness as you float among Saturn's rings to witness the grandeur of the gas giant from close quarters.</p>
        </div>
    </div>

    <div class="card col-3" style="margin-right: 20px; text-align: left;">
        <img class="card-img-top" src="../../../assets/images/mars1.png" alt="Card image cap" style="float: left;">
        <div class="card-body" style="text-align: left;">
        <h4 class="card-title">Pluto</h4>
        <div class="hr-line"></div>
        <p class="card-text">Uncover the mysteries of the distant dwarf “planet” Pluto. Traverse its icy plains that resides on the outskirts of our solar system.</p>
        </div>
    </div>
    <div class="col-1"></div>
</div>


