<div class="row">
    <div class="col-1"></div>
    <div class="card col-3" style="margin-right: 20px;">
        <img class="card-img-top" src="../../../assets/card1.jpg" alt="Card image cap">
        <div class="card-body">
        <h3 class="card-title">Card Title 1</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-3" style="margin-right: 20px;">
        <img class="card-img-top" src="../../../assets/card1.jpg" alt="Card image cap">
        <div class="card-body">
        <h3 class="card-title">Card Title 1</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card col-3" style="margin-right: 20px;">
        <img class="card-img-top" src="../../../assets/card1.jpg" alt="Card image cap">
        <div class="card-body">
        <h3 class="card-title">Card Title 1</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="col-1"></div>
</div>

